body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

section {
    position: relative;
    overflow: hidden;
    display: flex;
    transition: 1.2s;
}

.image {
    max-width: 45%;
    max-height: 600px;
    overflow: hidden;
    padding-top: 20px;
    z-index: 1;
    position: relative;
    animation: float 1s ease-in-out;

    animation: fadeInUp 1s ease-in-out;
}

.image img {
    border-radius: 50% 50% 57% 43% / 49% 51% 49% 51% ;
    width: 80%;
    width: 80%;
    object-fit: contain;
}

.text-container {
    padding: 10px 10px 10px 10px;
    align-content: center;
}

.about-container h1 {
    font-size: 62px;
    opacity: 1 !important;
    color: #453197 !important;
}

.about-container h3:hover {
    opacity: 1 !important;
    color: #453197 !important;
}

@keyframes float {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-20px);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}