section#contact {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d8bac;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 1vh;
}

/* for left cnotainer */
.containerleft {
    display: flex;
    margin: 0;
    min-width: 50%;
    height: 100%;
    /* border: brown 5px solid; */
    justify-content: center;
    align-items: center;
    gap: 1vh;
    padding: 2vh;
}

.project_detail {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 4vh;
}

.service {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.service h1 {
    color: black;
    font-size: 2.5vh;
    font-weight: 500;
    text-transform: uppercase;
}

.service ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    padding: 1vh;
}

.service ul li {
    padding: 1vh;
    font-size: 2vh;
    font-weight: 500;
    list-style: none;
    border-radius: 15px;
    border: rgb(212, 212, 212) 2px solid;
}

.connect {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.connect h1 {
    color: black;
    font-size: 2.5vh;
    font-weight: 500;
    text-transform: uppercase;
}

.connect ul {
    display: flex;
    flex-wrap: wrap;
}

.connect ul li {
    list-style: none;
}

.start_project {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.start_project h1 {
    color: black;
    font-size: 2.5vh;
    font-weight: 500;
    text-transform: uppercase;
}

.start_project h3 {
    color: rgb(58, 58, 58);
    font-size: 3vh;
    font-weight: 500;
}

.my_detail {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* border: yellow 5px solid; */
    padding: 4vh;
    gap: 2vh;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.about h1 {
    color: black;
    font-size: 2.5vh;
    font-weight: 500;
    text-transform: uppercase;
}
.about p{
    color: black;
    font-size: 2.5vh;
    font-weight: 500;
}

.email {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 2vh;
    /* line-height: 2vh; */
}

.email h1 {
    color: black;
    font-size: 2.5vh;
    font-weight: 500;
    text-transform: uppercase;
}
.call{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.call h1{
    color: black;
    font-size: 2.5vh;
    font-weight: 500;
    text-transform: uppercase;
}

/* for right cnotainer */
.containerright {
    display: flex;
    min-width: 50%;
    height: 100%;
    /* border: brown 5px solid; */
    justify-content: center;
    align-items: center;

}