/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  height: 100vh;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 1em;
  color: #f9f9f9;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}

/* Section Styles */
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2em;
  height: 84%;
}

.text-contant {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  font-size: 20px;
  font-weight: 300;
  align-content: center;
  max-width: 30%;
}

h1,
h2 {
  color: #333;
  margin-bottom: 10px;
}

.text-contant h2 span {
  color: chocolate;
}

p {
  margin-bottom: 20px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  border-radius: 15px;
  border: none;
  transition: 1.2s;
}

button:hover {
  background-color: #444;
  color: #fff;
  background-color: rgb(7, 171, 116);
}

/* Photo Styles */
.photo {
  max-width: 400px;
  margin: 0 auto;
  padding: 2em;
}

img {
  width: 100%;
  border-radius: 50% 50% 57% 43% / 75% 31% 69% 25%;
  background-color: black;
  max-width: 250px;
  box-shadow: 10px 10px 20px #babecc,
    -10px -10px 20px #fff;
  height: auto;
  border-radius: 10px;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

/* Media Queries */
@media (max-width: 768px) {

  /* For mobile devices */
  .nav-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-list li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .section {
    flex-direction: column;
  }

  .text-contant {
    max-width: 100%;
    padding: 1em;
  }

  .photo {
    max-width: 100%;
    padding: 1em;
  }
}

@media (max-width: 480px) {

  /* For smaller mobile devices */
  .brand {
    font-size: 1
  }
}