.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.skilled {
    text-align: center;
}
.skilled h2 {
    text-align: center;
    font-size: x-large;
}

.image {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image div {
    flex-grow: 1;
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
}

.image div img {
    width: 100%;
    height: auto;
}

.image div:hover {
    transform: scale(1.10);
}